!!!
html
  head
    title= title
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    
  body
    .navbar(class="navbar-fixed-top")
      .navbar-inner
        .container
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Express Coffee Talk
          .nav-collapse
            ul.nav
              li
                a(href="#") Menu Item
                  
    .container
      != body
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src='/js/handlebars.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/app.js')